body {
    overscroll-behavior: none;
    height: 100vh;
}

.container {
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.panel {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benny {
    height: 500px;
    width: auto;
}

.blue {
    background-color: rgb(29, 35, 125);
}

.red {
    background-color: rgb(122, 18, 18);
}

.orange {
    background-color: rgb(210, 110, 11);
}

.purple {
    background-color: rgb(119, 60, 203);
}

.green {
    background-color: rgb(18, 98, 11);
}
